html,
body {
    width: 100%;
    height:100%;
    color: #4F534E;
}
img {
    border-radius: 4px;
}

.form-group .form-control {
    margin-bottom: 15px;
}

.main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    margin-top: 20px;
}

.form-container {
    width: 40%;
    height: 100%;
}
.new-comment-container {
    padding: 50px;
    background-color: #EFEFEF;
    margin-bottom: 50px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
}

.display-comment-container {
    display: flex;
    margin-bottom: 10px;
}

.image-template {
    width: 50px;
}

.email-template {
    font-weight: bold;
}

.comment-email-container {
    flex: 1;
}
